.button {
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    border: none;
    padding: 20px 28px;
    background-color: $yellow;
    color: $dark-gray;
    font-size: 18px;
    font-weight: 600;
    margin: 80px 0;
    width: $btnWidth;
    transition: color 0.4s ease-in-out, background-color 0.3s ease-in-out;
    animation: slideButton 4s forwards;
    white-space: nowrap;
     &:hover {
        transition: color 0.4s ease-in-out, background-color 0.3s ease-in-out;
        background-color:$dark-gray;
        color:$light-gray;
     }
     @media screen and (max-width: 768px) {
      font-size: 14px;
      padding: 20px 0;
     }
}