.help--container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 700px;
  overflow: hidden;
  background: transparent;
  background: url("../../assets/images/parking.webp") center center / cover
    no-repeat;
  width: 100%;
  background-attachment: fixed;
  div {
    width: 100%;
    min-height: 350px;
    background-color: $yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h5 {
      text-align: center;
      font-size: 40px;
      margin: 0 20px 30px;
      @media screen and (max-width: 1024) {
        font-size: 33px;
      }
      @media screen and (max-width: 768px) {
        font-size: 25px;
      }
    }
    a {
      margin-top: 20px;
      button {
        text-transform: uppercase;
        cursor: pointer;
        border: none;
        padding: 20px 28px;
        background-color: $dark-gray;
        color: $light-gray;
        font-size: 18px;
        font-weight: 600;
        transition: color 0.4s ease-in-out, background-color 0.3s ease-in-out;
        width: $btnWidth;
        &:hover {
          transition: color 0.4s ease-in-out, background-color 0.3s ease-in-out;
          background-color: $background;
          color: $dark-gray;
        }
        @media screen and (max-width: 768px) {
          margin-top: 30px;
          font-size: 14px;
          padding: 20px 0;
         }
      }
    }
  }
  @media screen and (max-width: 1024) {
   height: 600px;
  }
}
