$background:rgb(240, 240, 240);

$black: #232323;
$yellow: rgb(255,218,31);
$gray: rgb(242, 240, 240);
$dark-gray:rgb(47,46,46);
$light-gray:rgb(226, 226, 226);

$text-gray:rgb(204,204,204);
$hover-text:rgb(160,160,159);

$sizeH: 80px;

$btnWidth: 350px;